[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
django = "*"
numpy = "*"
keras = "*"
tensorflow = "*"
pillow = "*"
pyyaml = ">=4.2b1"

[dev-packages]

[requires]
python_version = "3.6"
