<!DOCTYPE html>
<html lang="en">
{% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'index/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'index/bootstrap/css/1-col-portfolio.css' %}" />

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="?page=1">My Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="?page=1">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ComingSoon">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ComingSoon">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ComingSoon">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">{% block h1 %}{% endblock %}
        <small>{% block date %}{% endblock %}</small>
      </h1>

      {% block body %}
      {% endblock %}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Masato Tonouchi 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'index/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'index/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
