{% extends 'index/base.html' %}
{% load static %}

{% block title %}My Portfolio - Digit Recognizer{% endblock %}

{% block h1 %}Digit Recognizer{% endblock %}
{% block date %}- 2018/05/30{% endblock %}


  {% block body %}
    <!-- Page Content -->
    <div class="container">

      <iframe src="peint.html" height="450" width="450">
        このページでは、インラインフレームを使用しています。
        対応しているブラウザで表示願います。
      </iframe>

      <hr>

      <!-- Portfolio Section -->
      <h2>Portfolio Heading</h2>
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img class="card-img-top" src="http://placehold.it/700x400" alt="">
              <h4 class="card-title">
                <a>　予測：2　　---　　正解：2</a>
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img class="card-img-top" src="http://placehold.it/700x400" alt="">
              <h4>
                <a href="#">Project Two</a>
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>

    </div>
    <!-- /.container -->


  {% endblock %}
