{% extends 'index/base.html' %}
{% load static %}

{% block title %}My Portfolio - Digit Recognizer{% endblock %}

{% block h1 %}Digit Recognizer{% endblock %}
{% block date %}- 2018/05/30{% endblock %}

{% block head %}
    <script>
        var can;
        var ct;
        var ox=0,oy=0,x=0,y=0;
        var mf=false;
        function mam_draw_init(){
            //初期設定
            can=document.getElementById("can");
            can.addEventListener("touchstart",onDown,false);
            can.addEventListener("touchmove",onMove,false);
            can.addEventListener("touchend",onUp,false);
            can.addEventListener("mousedown",onMouseDown,false);
            can.addEventListener("mousemove",onMouseMove,false);
            can.addEventListener("mouseup",onMouseUp,false);
            ct=can.getContext("2d");
            ct.strokeStyle="#ffffff";
            ct.lineWidth=7;
            ct.lineJoin="round";
            ct.lineCap="round";
            clearCan();
        }
        function onDown(event){
            mf=true;
            ox=event.touches[0].pageX-event.target.getBoundingClientRect().left;
            oy=event.touches[0].pageY-event.target.getBoundingClientRect().top;
            event.stopPropagation();
        }
        function onMove(event){
            if(mf){
                x=event.touches[0].pageX-event.target.getBoundingClientRect().left;
                y=event.touches[0].pageY-event.target.getBoundingClientRect().top;
                drawLine();
                ox=x;
                oy=y;
                event.preventDefault();
                event.stopPropagation();
            }
        }
        function onUp(event){
            mf=false;
            event.stopPropagation();
        }

        function onMouseDown(event){
            ox=event.clientX-event.target.getBoundingClientRect().left;
            oy=event.clientY-event.target.getBoundingClientRect().top ;
            mf=true;
        }
        function onMouseMove(event){
            if(mf){
                x=event.clientX-event.target.getBoundingClientRect().left;
                y=event.clientY-event.target.getBoundingClientRect().top ;
                drawLine();
                ox=x;
                oy=y;
            }
        }
        function onMouseUp(event){
            mf=false;
        }
        function drawLine(){
            ct.beginPath();
            ct.moveTo(ox,oy);
            ct.lineTo(x,y);
            ct.stroke();
        }
        function clearCan(){
            ct.fillStyle="rgb(0,0,0)";
            ct.fillRect(0,0,can.getBoundingClientRect().width,can.getBoundingClientRect().height);
        }
    </script>
{% endblock %}


{% block body %}
    <hr>
    <!-- Page Content -->
    <body onload="mam_draw_init();"></body>
    <div class="container">
        <div align="center">
            <h3>手書き入力フォーム</h3>
            <p>0～9の数字を書いてください</p>
            <div style="border:solid 1px #000000;width:280px;height:280px;" id="candiv">
                <canvas id="can" width="280px" height="280px"></canvas>
            </div>
            <form method="post" action="">
            <input type="button" onClick="clearCan();" value="クリア" data-inline="true" />
            <select name="label" style="margin-left: 100px; width: 50px; height: 30px;">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
            <input type="submit" value="登録">
            </form>
        </div>

        <hr>

        <!-- example -->
        <h2>Prediction examples</h2>
        <div class="row">
            {% for image in digit_list %}
            <div class="col-lg-3 col-sm-6 portfolio-item">
                <img class="card-img-top" src="{% static image.path %}" alt="{{ image.label }}">
                <h4>
                    <a>予測：{{ image.label }}　-　正解：{{ image.label }}</a>
                </h4>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <p>モデル構成，データセット，認識精度等のより詳細な情報が欲しい場合は，右のボタンを押してください。詳細ページに遷移します。</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="{% url 'index:ComingSoon' %}">view the details</a>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}
